<%= form_with(model: @post, local: true) do |form| %>
  <div class="post_title">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= image_tag @post.image.url %>
    <%= form.file_field :image%>
    <%= form.submit %>
  </div>
<% end %>
