<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="header clearfix">
        <%= render 'layouts/header' %>
    </header>

    <div class="container">

      <%# flashメッセージの表示%>
      <% flash.each do |key, value| %>
        <%# content_tagはタグを動的に生成 %>
        <%# divタグで囲み、受け取ったvalueを表示。classは:dangerや:alertが入る%>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      
      <%= yield %>

    </div>
    
    <footer class="footer">
        <p>Copyright © 2018 All RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
